.wrapper {
  width: 500px;
  margin: 50px auto;
  display: grid;
  justify-content: center;
}

.person {
  display: grid;
  justify-content: center;
  background-color: lightgrey;
  padding: 30px;
}

.person p {
  margin: 4px;
}

.yesNo {
  display: flex;
  justify-content: space-around;
  padding: 10px 0px;
}
.yesNo button {
  font-size: 20px;
}

.buttonDiv {
  display: flex;
  justify-content: space-around;
}

.buttonDiv a button {
  font-size: 30px;
  cursor: pointer;
}

.wrapper img {
  border-radius: 50%;
  justify-self: center;
}
